[package]
name = "domino-cargo-build-bpf"
version = "1.10.0"
description = "Compile a local package and all of its dependencies using the Domino BPF SDK"
authors = ["Domino Maintainers <maintainers@domino.foundation>"]
repository = "https://github.com/domino-labs/domino"
homepage = "https://domino.com/"
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
bzip2 = "0.4.3"
clap = "2.33.3"
regex = "1.5.4"
cargo_metadata = "0.14.1"
domino-sdk = { path = "..", version = "=1.10.0" }
domino-download-utils = { path = "../../download-utils", version = "=1.10.0" }
tar = "0.4.37"

[dev-dependencies]
serial_test = "*"

[features]
program = []

[[bin]]
name = "cargo-build-bpf"
path = "src/main.rs"
